
<div class="div-navbar">
  <h5 class="h5-profile">My profile</h5>
  <div class="div-menu-options">
    <ul>
      <li a="#home">HOME</li>
      <li a="#home">ABOUT</li>
      <li a="#home">SKILLS</li>
      <li a="#home">EXPERIENCE</li>
      <li a="#home">PORTFOLIO</li>
      <li a="#home">CONTATO</li>
    </ul>
  </div>
</div>
<!-- Main IMAGE HEAD !-->
<div class="div-header-img">

    <h3 class="h3-title">UI/UX Designer &  Web Developer</h3>
</div>
<!-- ABOUT SECTION !-->
<div class="div-text">
  <section id="quote" class="bg-parlex">
    <div class="parlex-back">
    <h2 class="h2-bio">Programming and Designing with a mug of coffee and lo-fi playlists</h2>
    <%= image_tag("coffee.png", :class => "icon-coffee") %>
    <%= image_tag("coffee.png", :class => "icon-coffee2") %>
    <!--/.container-->
    </div>
    <div class="div-bio-text">
      <h5 class="h5-bio-text"> Criando websites e aplicações com a melhor UI/UX experiência. </h5>
      <p>Com conhecimentos adquiridos na graduação de Publicidade e Propaganda, migrou-se para a área da Computação.</p>
      <p>Iniciou-se carreira profissional na área como assistente de Teste manuais e unitários.</p>
      <p>Em paralelo ao trabalho de Tester, começou projetos de prototipagem de interface de websites e aplicações. <br> Dando os primeiros passos na linguagem Ruby e Javascript, logo aprendeu Ruby on Rails para a desenvolvimento web. </p>
    </div>
  </section>
</div>
<!-- main skills !-->
<div id="div-main-skills">
  <h2 class="h2-main-title">Zita Mello, UI/UX Designer &  Web Developer</h2>
  <p>Também amante de línguas estrangeiras e outras culturas</p>
  <!-- Ruby Skills !-->
  <div class="div-1st-skill">
    <%= image_tag("rubyonrails.png", :class => "icon-ruby") %>
    <h5 class="h5-ruby">Ruby on Rails</h5>
    <div class="div-gray-skill">
      <p class="p-1st-skill">Conhecimentos na linguagem Ruby e Ruby on Rails 7. </p>
    </div>
  </div>
    <!-- HTML/CSS Skills !-->
    <div class="div-2st-skill">
      <%= image_tag("images.png", :class => "icon-css") %>
      <h5 class="h5-css">HTML/CSS</h5>
      <div class="div-gray-skill2">
        <p class="p-2st-skill">Conhecimentos em HTML/CSS e frameworks de estilos como Bulma, Bootstrap e Semantic UI. </p>
      </div>
    </div>
      <!-- JS Skills !-->
      <div class="div-3rd-skill">
        <%= image_tag("imageJS2.png", :class => "icon-JS") %>
        <h5 class="h5-js">Javascript</h5>
        <div class="div-gray-skill3">
          <p class="p-3rd-skill">Conhecimentos em Javascript. </p>
        </div>
      </div>
      <!-- GIT Skills !-->
      <div class="div-4th-skill">
        <%= image_tag("gitlogo.png", :class => "icon-git") %>
        <h5 class="h5-git">Git</h5>
        <div class="div-gray-skill4">
          <p class="p-4th-skill">Conhecimentos em controle de versão com GIT. </p>
        </div>
      </div>
      <!-- AGILE Skills !-->
      <div class="div-5th-skill">
        <%= image_tag("agile.jpg", :class => "icon-agile") %>
        <h5 class="h5-agile">Agile</h5>
        <div class="div-gray-skill5">
          <p class="p-5th-skill">Conhecimentos e participação em metodolodias e desenvolvimento ágil como Scrum e Kanban. </p>
        </div>
      </div>
      <!-- SQL Skills !-->
      <div class="div-6th-skill">
        <%= image_tag("imagesSQL.png", :class => "icon-sql") %>
        <h5 class="h5-sql">SQL Database</h5>
        <div class="div-gray-skill6">
          <p class="p-6th-skill">Conhecimentos em banco de dados na linguagem SQL. </p>
        </div>
      </div>
</div>
<div id="div-skillset">
    <h4 class="h4-title-skills">Skills</h4>
    <p class="p-habilidades">Você pode saber mais sobre minhas habilidades em detalhes por aqui. </p>
    <div class="div-skill-block">
      <h6 class="h6-hard">Hard <span>Skills</span> </h6>
      <p>Habilidades que levam tempo e muita dedicação para se especilizar e que necessitam constante estudo.</p>
      <h6>HTML</h6>
      <progress class="progress is-danger" value="100" max="100">100%</progress>
      <h6>CSS</h6>
      <progress class="progress is-danger" value="100" max="100">100%</progress>
      <h6>JS</h6>
      <progress class="progress is-danger" value="70" max="100">70%</progress>
      <h6>Ruby</h6>
      <progress class="progress is-danger" value="80" max="100">80%</progress>
      <h6>Ruby on Rails</h6>
      <progress class="progress is-danger" value="70" max="100">70%</progress>

    </div>
</div>
